{% extends "layout.html" %} {% block title %}Books{% endblock %}{% block content
%}
<div class="row">
  <div class="col md-6">
    <div class="jumbotron p-3">
      <h2>
        Manage <b>Books</b>
        <button
          type="button"
          class="btn btn-success float-right"
          data-toggle="modal"
          data-target="#addBookModal"
        >
          Add New Book
        </button>
      </h2>
      <table class="table table-hover table-dark">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>ISBN</th>
          <th>Genre</th>
          <th>Author</th>
          <th>Shelf No.</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        {% for row in books%}
        <tr>
          <td>{{row.book_id}}</td>
          <td>{{row.title}}</td>
          <td>{{row.isbn}}</td>
          <td>{{row.genre}}</td>
          <td>{{row.author}}</td>
          <td>{{row.shelf}}</td>
          {% if row.status %}
          <td>Available</td>
          {% else %}
          <td>Issued</td>
          {% endif %}
          <td>
            <a
              href="/update/{{row.book_id}}"
              class="btn btn-warning btn-xs"
              data-toggle="modal"
              data-target="#updatebookmodal{{row.book_id}}"
              >Update</a
            >
            <a
              href="/delete_book/{{row.book_id}}"
              class="btn btn-danger btn-xs"
              onclick="return confirm('Confirm Delete?')"
              >Delete</a
            >
          </td>
        </tr>
        <div
          id="updatebookmodal{{row.book_id}}"
          class="modal fade"
          role="dialog"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Update Information</h4>
              </div>
              <div class="modal-body">
                <form action="{{url_for('update_book')}}" method="POST">
                  <div class="form-group">
                    <label>Title:</label>
                    <input type="hidden" name="id" value="{{row.book_id}}" />
                    <input
                      type="text"
                      class="form-control"
                      name="title"
                      value="{{row.title}}"
                    />
                  </div>
                  <div class="form-group">
                    <label>ISBN:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="isbn"
                      value="{{row.isbn}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="genreselect">Genre</label>
                    <select
                      class="form-control"
                      id="genreselect"
                      name="genre"
                      value="{{row.genre}}"
                    >
                      <option value="none" selected disabled hidden>
                        Select an Option
                      </option>
                      <option>Classics</option>
                      <option>Sci-Fi</option>
                      <option>Biography</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Author:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="author"
                      value="{{row.author}}"
                    />
                  </div>
                  <div class="form-group">
                    <label>Shelf No:</label>
                    <input
                      type="number"
                      class="form-control"
                      name="shelf"
                      step="any"
                      value="{{row.shelf}}"
                    />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                      Submit
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">
                      Close
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </table>
    </div>
    <!--Modal for adding books-->
    <div id="addBookModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Book</h4>
          </div>
          <div class="modal-body">
            <form action="{{url_for('add_book')}}" method="POST">
              <div class="form-group">
                <label>Title:</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  required="1"
                />
              </div>
              <div class="form-group">
                <label>ISBN:</label>
                <input
                  type="text"
                  class="form-control"
                  name="isbn"
                  required="1"
                />
              </div>
              <div class="form-group">
                <label for="genreselect">Genre</label>
                <select class="form-control" id="genreselect" name="genre">
                  <option value="none" selected disabled hidden>
                    Select an Option
                  </option>
                  <option>Classics</option>
                  <option>Sci-Fi</option>
                  <option>Biography</option>
                </select>
              </div>
              <div class="form-group">
                <label>Author:</label>
                <input
                  type="text"
                  class="form-control"
                  name="author"
                  required="1"
                />
              </div>
              <div class="form-group">
                <label>Shelf No:</label>
                <input
                  type="number"
                  class="form-control"
                  name="shelf"
                  required="1"
                  step="any"
                />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Add</button>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
