{% extends "layout.html" %} {% block title %} Dashboard{% endblock %} {% block
content %}
<div class="container">
  <div class="jumbotron p-3" style="background-color: #ffffff">
    <h2>Manage <b>Books</b></h2>
    <!--second row-->
    <div class="row justify-content-between">
      <!--search bar-->
      <div class="col-6">
        <form class="form-inline" action="" method="POST">
          <select
            name="searchby"
            id="searchbySelect"
            data-suptext="Searchby"
            class="custom-select my-1 mr-sm-2"
          >
            <option>Title</option>
            <option>Author</option>
          </select>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="search"
              required="1"
              placeholder="keywords..."
            />
            <div class="input-group-btn">
              <button class="btn btn-primary" type="Submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!--import/add books:-->
      <div class="col-4">
        <button
          type="button"
          class="btn btn-success float-right"
          data-toggle="modal"
          data-target="#importBookModal"
        >
          Import Books
        </button>
        <button
          type="button"
          class="btn btn-success float-right"
          data-toggle="modal"
          data-target="#addBookModal"
          style="margin-right: 10px"
        >
          Add New Book
        </button>
      </div>
    </div>
    <!--table-->
    <table class="table table-hover table-striped">
      <thead class="thead-light">
        <tr>
          <th style="width: 5%">#</th>
          <th>Title</th>
          <th style="width: 16.66%">ISBN</th>
          <th style="width: 10%">Authors</th>
          <th style="width: 5%">Status</th>
          <th style="width: 25%">Action</th>
        </tr>
      </thead>
      {% for row in books.items%}
      <tr>
        <td>{{row.book_id}}</td>
        <td>{{row.title}}</td>
        <td>{{row.isbn}}</td>
        <td>{% for author in row.authors%} {{author.name}},<br />{%endfor%}</td>
        <td>{{row.available}}/{{row.total}}</td>
        <td>
          <a href="/issue_book/{{row.book_id}}" class="btn btn-success btn-xs"
            >Issue</a
          >
          <a href="/return_book/{{row.book_id}}" class="btn btn-primary btn-xs"
            >Return</a
          >
          <a
            href="/update/{{row.book_id}}"
            class="btn"
            data-toggle="modal"
            data-target="#updatebookmodal{{row.book_id}}"
            ><i class="fas fa-edit"></i
          ></a>
          <a
            href="/delete_book/{{row.book_id}}"
            class="btn"
            onclick="return confirm('Confirm Delete?')"
            ><i class="fas fa-trash"></i
          ></a>
        </td>
      </tr>
      <!--Modal for updating-->
      <div id="updatebookmodal{{row.book_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update Information</h4>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{{url_for('update_book')}}" method="POST">
                <div class="form-group">
                  <label>Title:</label>
                  <input type="hidden" name="id" value="{{row.book_id}}" />
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    value="{{row.title}}"
                  />
                </div>
                <div class="form-group">
                  <label>ISBN:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="isbn"
                    value="{{row.isbn}}"
                  />
                </div>
                <div class="author-wrapper">
                  <label>Author info:</label>
                  {% for author in row.authors%}
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="author[]"
                      value="{{author.name}}"
                    />
                  </div>
                  {%endfor%}
                </div>
                <div class="form-group">
                  <label>Quantity:</label>
                  <input
                    type="number"
                    class="form-control"
                    name="total"
                    value="{{row.total}}"
                  />
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </table>
    {% for page_num in books.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if books.page ==
    page_num %}
    <a
      class="btn btn-info mb-4"
      href="{{ url_for('dashboard', page=page_num) }}"
      >{{ page_num }}</a
    >
    {% else %}
    <a
      class="btn btn-outline-info mb-4"
      href="{{ url_for('dashboard', page=page_num) }}"
      >{{ page_num }}</a
    >
    {% endif %} {% else %} ... {% endif %} {% endfor %}
  </div>
  <!--Modal for importing books-->
  <div id="importBookModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Filter by</h4>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('import_books')}}" method="POST">
            <div class="form-group">
              <label>Title:</label>
              <input
                type="text"
                class="form-control"
                name="title"
                placeholder="Any or type here..."
              />
            </div>
            <div class="form-group">
              <label>Author:</label>
              <input
                type="text"
                class="form-control"
                name="author"
                placeholder="Any or type here..."
              />
            </div>
            <div class="form-group">
              <label>total:</label>
              <input
                type="number"
                class="form-control"
                name="total"
                value="20"
              />
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Import</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Modal for adding books-->
  <div id="addBookModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Book</h4>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('add_book')}}" method="POST">
            <div class="form-group">
              <label>Title:</label>
              <input
                type="text"
                class="form-control"
                name="title"
                required="1"
              />
            </div>
            <div class="form-group">
              <label>ISBN:</label>
              <input
                type="text"
                class="form-control"
                name="isbn"
                required="1"
              />
            </div>
            <div class="form-group">
              <div class="author-wrapper">
                <label>Author info:</label>
                <input
                  type="text"
                  class="form-control"
                  name="author[]"
                  value=""
                />
                <a
                  href="javascript:void(0);"
                  class="add-author"
                  title="Add author"
                  ><i class="fas fa-plus"></i
                ></a>
              </div>
            </div>
            <div class="form-group">
              <label>Quantity:</label>
              <input
                type="number"
                class="form-control"
                name="total"
                required="1"
              />
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    var max_author_fields = 10;
    var add_author = $(".add-author");
    var author_wrapper = $(".author-wrapper");
    var new_author =
      '<div class="form-group"><input type="text" class="form-control" name="author[]" value=""/><a href="javascript:void(0);" class="remove-author" title="Remove author"><i class="fas fa-minus"></i></a></div>';
    var add_author_count = 1;
    $(add_author).click(function () {
      if (add_author_count < max_author_fields) {
        add_author_count++;
        $(author_wrapper).append(new_author);
      }
    });
    $(author_wrapper).on("click", ".remove-author", function (e) {
      e.preventDefault();
      $(this).parent("div").remove();
      add_author_count--;
    });
  });
</script>
{% endblock %}
